@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

body {
  flex-direction: column;
}

/* utility */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */
header {
  width: 100%;
  text-align: center;
  background-color: black;
}

.top-header {
  color: white;
  font-size: 0.875rem;
  padding: 12px;
}

.share-btn a {
  text-align: center;
  text-decoration: none;
  color: #3567be;
  font-weight: 500;
  text-transform: capitalize;
}

/* main hero */
.hero {
  flex-direction: column;
  margin-top: 2rem;
}

.hero h1 {
  font-size: 2rem;
}

.hero .ebook-cover-page {
  width: 50%;
}

/* section scroll down */
.section-scroll {
  margin: 2rem;
  text-align: center;
}

.section-scroll a {
  text-decoration: none;
  color: black;
}

.section-scroll i {
  cursor: pointer;
  font-size: 4rem;
}

/* form */

.wait-list-form {
  min-height: 100vh;
  background-color: black;
}

.wait-list-form form {
  border: 1px solid black;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.form-heading {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.input-wrapper {
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

.input-wrapper label {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0.6rem;
  color: white;
}

.input-wrapper input {
  border: none;
  border-radius: 0.25rem;
  height: 3rem;
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
  outline: none;
  font-family: monospace;
  font-weight: 500;
}

.input-wrapper button {
  width: 50%;
  height: 3rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: dodgerblue;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid white;
}

/* pitch section */

.pitch-card {
  padding: 3rem;
  height: 100vh;
  flex-direction: column;
}

.pitch-card h3 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.pitch-point {
  line-height: 2.5;
  width: 50%;
}

.pitch-point a {
  margin-right: 5px;
  padding: 0px 5px;
  text-decoration: none;
  color: #fffffe;
  border: 1px solid #2962ff;
  background-image: linear-gradient(to right, #2962ff, #28afd4);
  transition: all 0.1s;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.pitch-card .section-scroll {
  margin-top: 3rem;
}

footer {
  display: flex;
}

footer h1 {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem;
}

footer a {
  text-decoration: none;
}

.support {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
  background-color: black;
}

.support a {
  text-decoration: none;
  color: white;
}

@media (max-width: 900px) {
  .top-header {
    font-size: 0.5rem;
    padding: 19px;
  }

  .hero h1,
  .pitch-card h3 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.7;
    font-size: 2rem;
  }

  .hero .ebook-cover-page {
    width: 100%;
    margin-top: 1rem;
  }

  .share-btn {
    margin: 1.9rem 0 3rem 0;
  }

  .section-1 {
    height: 100%;
  }

  .input-wrapper input,
  .input-wrapper button {
    width: 100%;
  }

  /* pitch section */
  .pitch-card {
    height: 100%;
    padding: 1rem;
  }

  .pitch-point {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 2;
  }

  .form-heading {
    font-size: 1.5rem;
  }
}
