/* SET THE HEIGHT OF THE TEXT */
.about-caption{
    height: fit-content;
    max-height: 180px;
}


/* MAKE THE TEXT WRAPPERSCROLL */
.scroll-about{
    overflow-y: scroll;
}

.key-word{
    color: #2696E8;
    /* font-weight: 900; */
}

/* HIDE THE MORE PARAGRAPH BY DEFAULT */
.hidden-about{
    display: none;
}


@media(max-width: 600px){

    .app .about-section.active{
        /* margin-top: 30px; */
        font-weight: 700;
        width: 100%;
    }

    .about-caption{
        max-height: 350px;
        width: 100%;
    }

    .about-caption p{
        margin-top: 35px;
    }
}